/* Animazione */
@keyframes bounceIn {
  0% { transform: scale(0.5); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

.yknow {
  animation: bounceIn 1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.dyk {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
  border: none;
}

.textdyk {
  font-size: 1rem;
  color: #ff7f50 !important;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  margin-bottom: 0;
}

.collapsibles-wrapper {
  background-color: transparent; /* giallo dei collapse */
  padding: 1rem;
  border-radius: 12px;
}


.collapsibletx {
  background-color: rgb(255, 248, 230); /* ora è il wrapper che ha il giallo */
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  text-align: center;
}

/* Nascondi radio */
.collapsibletx input[type="radio"] {
  display: none;
}



/* .collapsibletx label:hover {
  background-color: rgba(0, 0, 0, 0.05);
} */

/* .collapsible-body {
  max-height: 0;
  overflow: hidden;
  background-color: rgb(255, 248, 230);
  border: none !important; /* bordo trasparente */
  /* border-radius: 6px;
  padding: 0 1rem;
  transition: max-height 0.4s ease, padding 0.3s ease;
} */ 

/* Apertura */
.collapsibletx input[type="radio"]:checked ~ .collapsible-body {
  max-height: 1500px;
  padding: 1rem;
}

.collapsible-body p {
  font-size: 1rem;
  color: #333;
  margin: 0 0 0.75rem 0;
  text-align: center; /* ✔ centrato */
}

.punto-normale {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  text-align: center; 
}

.collapsibletx {
  background-color: transparent !important;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  text-align: center;
}

.collapsibletx label {
  background-color: rgb(255, 248, 230);
  color: #2a2b28da;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 0;     
  border-radius: 6px;
  margin-bottom: 0.3rem;
  font-style: italic;
    border: 0.1px solid #ff7f50

}

.collapsible-body {
  background-color: rgb(255, 248, 230); /* colore del contenuto */
  border: none !important;
  padding: 0 1rem;
max-height: 0;
  overflow: hidden;
  border: none !important; /* bordo trasparente */
  border-radius: 6px;
  padding: 0 1rem;
  transition: max-height 0.4s ease, padding 0.3s ease;}
