@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.scoperta {
  animation: bounceIn 1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.scoprirecose {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
  border: none;
}

.textscoperta {
  font-size: 1rem;
  color: #ff7f50 !important;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  margin-bottom: 0;
}
