nav.split-nav {
  background-color: #fde4c8;
  border-bottom: 2px solid #0c0b0a !important;
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;
  color: inherit;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-brand h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #ff914d;
}

ul.inline {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-left:0.3em;
    

}

ul.inline li a {
  color: #5c3d2e;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  
}

ul.inline li a:hover {
  color: #ff914d;
  

}


.profilo

{
  border-radius:50%;
    width:1.3em;
  height:1.6em
}

/* Hamburger bars */
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #5c3d2e;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 2px;
}
nav.split-nav {
  margin: 0 !important; /* elimina margini della classe .border */
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}




@media (max-width: 576px) {
  nav.split-nav {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .collapsible-body {
    overflow-x: auto;
  }

  ul.inline {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    overflow-x: auto;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    white-space: nowrap;
  }

  ul.inline li {
    flex: 0 0 auto;
  }

  ul.inline li a {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    margin-left:0.2em
  }

  .profilo
  {
    border-radius: 50%;
    width:40px
  }

  .dropdown-menu {
    top: 40px;
    right: 0;
    width: auto;
  }

}