/* Container principale */
.post-list-container {
  padding: 20px;
}

/* Textarea “Crea Post” */
.create-post {
  margin-bottom: 20px;

}

textarea.edit-textarea {
  background-color: #fff8e6;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ff7f50;
  resize: vertical;
}

/* Lista post */
.post-list {
  gap: 20px;
}

.post-card {
  border: 2px solid #ff7f50; 
  padding: 10px;
  background-color: #fff8e6;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.post-card-wrapper{
    margin-bottom: 500px;

}
.post-card:hover {
  background-color: #e9ecef;
}

.post-card.editing {
  background-color: #fff8e6;
}


