.container {
     width: 100%;
  display: flex;
flex-direction:column;
justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col-12.col-lg-6 {
  max-width: 600px;
  width: 100%;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.dati-utente {
  flex: 1;
  min-width: 250px;
}
.card{
background-color: #fff8f0 !important;    
}

.goCorgi
     {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;       

}
.CCorgi{
    width:150px;
  border: none;
  display: block;
  margin: 0 auto; 
}

.textCorgi{
     font-size: 1rem;
  color: #ff7f50 !important;
  font-weight: bold;
  text-align: center;
  margin-bottom:1em
}



.foto-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  gap:0px;

}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.btn-small-profilo {
  background-color: #ffd997;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  height:25px;
  border:solid #d17b49 1px;
  margin-top:1px
  
}


.prof{
    color:black;
    text-align:center
}


.btn-small-profilo:hover {
  background-color:  #ffc022f8;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.goCorgi {
  animation: bounceIn 1s ease-out;
}


.btn-small-logout:hover {
  background-color:  #ffc022f8;
}

.bottoni-profilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}


.emoji-click {
  font-size: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  background-color: #ffd997;
  transition: transform 0.2s ease;
  border:solid black 1px;
}


.btn-small-save{
     font-size: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  background-color: #ffd997;
  transition: transform 0.2s ease;
}
.emoji-click:hover {
  transform: scale(1.2);
}

.logout-link {
  color: #d17b49;
  text-decoration: none!important ;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.logout-link:hover {
  color: #a94442;
}

.xlogout{
    text-align: center;
}


.input-block {
  width: 100%;         
  max-width: 100%;
  box-sizing: border-box;
}

.input-block:focus {
  border-color: #d17b49;   
  outline: none;             
  box-shadow: 0 0 0 2px #ffd99755; 
}

/* .canecard{
    background-color: #fffab7;
} */

.canecard{

 background-color: #fff8e6; /* colore caldo e visibile */
  border: 1px solid #d17b49;
  

}