.container {
     width: 100%;
  display: flex;
flex-direction:column;
justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col-12.col-lg-6 {
  max-width: 600px;
  width: 100%;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.dati-utente {
  flex: 1;
  min-width: 250px;
}
.card{
background-color: #fff8f0 !important;    
}

.goCorgi
     {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;       

}
.CCorgi{
    width:150px;
  border: none;
  display: block;
  margin: 0 auto; 
}

.textCorgi{
     font-size: 1rem;
  color: #ff7f50 !important;
  font-weight: bold;
  text-align: center;
  margin-bottom:1em
}
.foto-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  gap:0px;

}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.btn-small-profilo {
  background-color: #ffd997;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  height:25px;
  border:solid #d17b49 1px;
  margin-top:1px
  
}


.prof{
    color:black;
    text-align:center
}


.btn-small-profilo:hover {
  background-color:  #ffc022f8;
}