.results-container {
  display: flex;
  justify-content: center; /* centra il contenitore */
  margin-top: 20px;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* centra le card */
  max-width: 800px; /* larghezza massima della griglia */
}

.result-card {
  background-color: #fff8e6;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 300px; 
  height:300px;
  text-align: center; 
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.result-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.result-card h4 {
  margin: 10px 0 5px 0;
  font-size: 30px; 
  text-align: center;
}
 
.result-card p {
  font-size: 25px;
  color: #555;
  margin: 5px 0;
}
