


.container-fluid {
  position: relative;
  width: 100%;
  max-width: 600px; /* regola a seconda dell'immagine */
  margin: 0 auto;
  padding: 2rem;
  background-color: transparent !important
}

.cartoon-corgi {
  width: 600px;
  height: auto;
  display: block;
  z-index: 1;
  position: relative;
  border:none;
  background-color: transparent !important;
}



/* Fumetti */
.speech-bubble {
  position: absolute;
  z-index: 2;
  background:white;
  border: 2px solid #d17b49;
  box-shadow: 3px 3px 5px rgba(209, 123, 73, 0.3);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 1rem;
  padding: 1.2em;
  border-radius: 80px;
  text-align: center;
  opacity: 1;
  width:500px
}

/* Posizione fumetto Alessandra */
.speech-bubble.main {
  top: 0%   ;
  left: 80%;  
  width: 220px;
  transform: translateX(-50%);
}

/* Posizione fumetto Gaspare */
.speech-bubble.dog {
  top: 26%;   
  left: 100%;  
  width: 300px;
  transform: translateX(-50%);
}

/* Triangolini */
.speech-bubble.main::after,
.speech-bubble.dog::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  filter: drop-shadow(1px 2px 0 #d17b49);
}

/* Responsive */
@media (max-width: 576px) {
  .speech-bubble.main {
    top: 0.5%;
    left: 50%;
    width: 200px;
    font-size: 0.75rem;
    padding: 0.8em;
  }

  .cartoon-corgi{
    width: 200px;
  }
  
  .speech-bubble.dog {
    top: 30%;
    left: 65%;
    width: 250px;
    font-size: 0.75rem;
    padding: 0.8em;
  
    
  }
  .speech-bubble.main::after,
.speech-bubble.dog::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translateX(-10%);
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  filter: drop-shadow(1px 2px 0 #d17b49);
}
}
