html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
 background-color: #fde4c8 !important;
   background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden; /* evita eventuali scroll orizzontali */
}